@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
.visually-hidden {
  visibility: hidden;
}
*/


body {
  font-family: "PT Sans", "Arial", sans-serif;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.page-header {
color: #000000;
background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
background-color: #FFFFFF;
text-decoration: none;
}

.want-here .navigation-link {
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.motto-background  {
  background-image: url("../images/background/welcome-background.jpg");
  width: 1200px;
  height: 485px;
}


.sedona-intro-title {
  font-size: 30px;
line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-content {
  background-color: #82B3D3;
}

.background-lightblue {
  background: rgba(131, 179, 211, 0.12);
}

.background-lighterblue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title  {
  color: #000000;
  font-weight: 700;
font-size: 24px;
line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-content-white .advantages-title {
  color:#FFFFFF;
}

.advantages-number {
  color: #000000;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}

.advantages-content-white .advantages-number {
  color:#FFFFFF;
}

.advantages-description {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}

.advantages-content-white .advantages-description {
  color:#FFFFFF;
}

.recomendations-title {
  color: #000000;
  font-weight: 700;
font-size: 24px;
line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.recomendations-description {
  color: #333333;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}

.sedona-travel-title {
  color: #000000;
  font-weight: 700;
font-size: 30px;
line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.sedona-travel-description {
  color: #333333;
  font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
}

.sedona-travel-link {
  color:#FFFFFF;
  font-weight: 700;
font-size: 20px;
line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.subscribe-title {
  color: #000000;
  font-weight: 700;
font-size: 30px;
line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description {
  color: #333333;
  font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
}

.subscribe-index {
  background: url("../images/background/subscribe-background.jpg") no-repeat;
  width: 1200px;
  height: 411px;
  }


  .subscribe-index .subscribe-title {
  color: #FFFFFF;
}

.subscribe-index .subscribe-description {
  color: #FFFFFF;
}

.subscribe-button {
  font-family: "PT Sans";
  color:#FFFFFF;
  font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
background-color: #82B3D3;
}

.field {
  font-family: "PT Sans";
  background-color: #F2F2F2;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
line-height: 40px;
text-decoration: none;
}

/* Каталог */

.inner-header-title{
color: #FFFFFF;
font-weight: 700;
font-size: 60px;
line-height: 78px;
}

.filter-background {
  background: url("../images/background/filter-background.jpg") no-repeat;
  width: 1120px;
height: 403px;
 margin-bottom: 300px; /*добавила временно*/
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-weight: 700;
font-size: 20px;
line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-item {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-price {
  color: #FFFFFF;
  font-weight: 700;
font-size: 20px;
line-height: 26px;
  text-transform: capitalize;
}

.button-submit {
color: #FFFFFF;
text-transform: uppercase;
font-weight: 700;
font-size: 16px;
line-height: 20px;
background-color: #82B3D3;
}

.button-reset {
color:#FFFFFF;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}

.search-result {
  color: #000000;
  font-weight: 700;
font-size: 30px;
line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.product-card-title {
  font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.housing-hotel {
  color: #333333;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.product-card-price {
  color: #333333;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.rating {
color: #333333;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}

.product-about {
  background-color:#756157;
color: #FFFFFF;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}

.favorites-button {
  background-color: #82B3D3;;
  color: #FFFFFF;
  font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
}

.favorites-button-selected {
  background-color: #7DB54F;
}

.pagination-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color:#82B3D3;
  text-decoration: none;
}

.pagination-current{
  color:#000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color:#F2F2F2;
}

.search-results {
  color: #333333;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.results-on-page {
  color: #333333;
  font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.subscribe-title {
  color:#000000;
  font-weight: 700;
font-size: 30px;
line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description  {
  color: #333333;
  font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
}
