@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.sedona-logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
}

/*Навигация*/

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 390px;
  list-style-type: none;
  margin-right: 237px;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
}

.navigation-user {
  max-width: 264px;
  margin-right: 70px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link.navigation-link-special {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;

  padding: 9px 15px 8px 15px;
  margin-right: 0;
  margin-left: 20px;
  border-radius: 4px;
}

.navigation-link.navigation-link-special:hover {
  background: #615048;
}

.navigation-link.navigation-link-special:focus {
  background: #615048;
}

.navigation-link.navigation-link-special:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link.navigation-link-special:disabled {
  background: #E5E5E5;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon-search {
  padding: 23px 12px 24px 12px;
}

.navigation-icon-favorite {
  padding: 24px 12px 25px 12px;
}

.circle {
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  text-align: center;
  background: #7DB54F;
  border-radius: 50%;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 24px;
  top: 8px;
  right: 2px;
}

/*Секция интро*/

.main-container {
  flex-grow: 1;
}

.motto-background {
  position: relative;
  width: 1200px;
  height: 485px;
  background-image: url("../images/divider-welcome-group.svg"), url("../images/background/welcome-background.jpg");
  background-position: bottom, left top;
  background-repeat: no-repeat, no-repeat;
}


.motto-image {
  position: absolute;
  left: 371px;
  right: 371px;
  top: 51px;
  bottom: 82px;
  margin: 0 auto;
}

.sedona-intro {
  padding: 63px 273px 90px 273px;
}

.sedona-intro-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 31px;
  white-space: nowrap;
}

.sedona-intro-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}


/*Секция преимуществ*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item.advantages-item-info.background-lightblue {
  padding: 103px 85px 102px 85px;
  box-sizing: border-box;
}

.advantages-item.advantages-item-info.background-lighterblue {
  padding: 103px 85px 102px 85px;
  box-sizing: border-box;
}

.background-lightblue {
  background: rgba(131, 179, 211, 0.12);
}

.background-lighterblue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-info {
  flex-basis: 400px;
}

.advantages-content {
  background-color: #82b3d3;
  width: 400px;
}

.advantages-additional-content {
  padding: 95px 82px 81px 82px;
  flex-basis: 400px;
}

.advantages-image {
  width: 800px;
  height: 400px;
}

.advantages-image.advantages-image-hill {
  order: -1;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-content-white .advantages-title {
  color: #ffffff;
}

.advantages-number {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-content-white .advantages-number {
  color: #ffffff;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.advantages-content-white .advantages-description {
  color: #ffffff;
}

.recomendations-container {
  margin: 0 auto;
}

.recomendations-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

.recomendations-item {
  flex-basis: 400px;
  padding: 80px 85px 81px 85px;
  position: relative;
}

.recomendations-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 102px;
}

.recomendations-title.house-icon::before {
  content: "";
  background-image: url("../images/icons/house-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 75px;
  height: 72px;
  top: 80px;
  left: 163px;
}

.recomendations-title.food-icon::before {
  content: "";
  background-image: url("../images/icons/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 74px;
  height: 70px;
  top: 81px;
  left: 163px;
}

.recomendations-title.gift-icon::before {
  content: "";
  background-image: url("../images/icons/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 64px;
  height: 76px;
  top: 78px;
  left: 168px;
}

.recomendations-description {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 0;
}

/*Секция поиска в каталоге*/

.sedona-travel {
  padding: 91px 304px 93px 304px;
}

.sedona-travel-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.sedona-travel-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 56px;
}

.sedona-travel-link {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  width: 544px;
  padding: 12px 15px;
}

.sedona-travel-link:hover {
  background: #615048;
}

.sedona-travel-link:focus {
  background: #615048;
}

.sedona-travel-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.sedona-travel-link:disabled {
  background: #E5E5E5;
}

/*Секция подписки на новости*/

.subscribe {
  padding: 94px 200px 94px 200px;
}

.subscribe-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-index {
  background: url("../images/background/subscribe-background.jpg") no-repeat;
}

.subscribe-index .subscribe-title {
  color: #ffffff;
}

.subscribe-index .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe-button {
  font-family: "PT Sans";
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  width: 200px;
  height: 60px;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 0 10px 10px 0;
}

.subscribe-button:hover {
  background: #68A2CA;
}

.subscribe-button:focus {
  background: #68A2CA;
}

.subscribe-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background: #E5E5E5;
}

.email-field {
  font-family: "PT Sans";
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 600px;
  height: 60px;
  padding: 0;
  padding-left: 22px;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Футер*/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;

  gap: 10px;
  align-items: center;
}

.footer-socials-item {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  margin: 0 auto;
}

.footer-socials-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  fill: currentColor;
}

.footer-socials-link:hover path {
  fill: #68A2CA;
}

.footer-socials-link:focus path {
  fill: #68A2CA;
}

.footer-socials-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.vk-icon {
  padding-top: 5px;
}

.telegram-icon {
  padding-top: 5px;
}

.youtube-icon {
  padding-top: 5px;
}

.footer-socials-item:nth-child(3n) {
  margin-right: 0;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 720px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo {
  display: block;
}

.htmlacademy-link path {
  fill: #000000;
}

.htmlacademy-link:hover path {
  fill: #756157;
}

.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Каталог */

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.filter-background {
  background: url("../images/background/filter-background.jpg") no-repeat;
  padding: 35px 70px 70px;
}

/*Хлебные крошки*/

.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.breadcrumbs-item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus {
  color: #FFFFFF;
}

.breadcrumbs-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link {
  padding-left: 15px;
  padding-right: 10px;
}

.breadcrumbs-link.breadcrumbs-link-hotels {
  background-image: url("../images/icons/right-arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: left;
}

.breadcrumbs-link.breadcrumbs-link-hotels:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link.breadcrumbs-link-hotels:focus {
  color: #FFFFFF;
}

.breadcrumbs-link.breadcrumbs-link-hotels:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.breadcrumbs-link .home-index-icon {
  margin: auto 0;
}

.breadcrumbs-link .home-index-icon:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link .home-index-icon:focus {
  color: #FFFFFF;
}

.breadcrumbs-link .home-index-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Каталог гостиниц*/

.catalog-sedona {
  box-sizing: border-box;
  /*padding-left: 70px;
  padding-bottom: 70px;*/
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter-list {
  padding-left: 0;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}


.catalog-filter-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  padding-left: 0;
  margin-bottom: 30px;
}

.catalog-filter-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 15px;
}

.catalog-filter-group-type {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

/*Фильтр цены*/

.catalog-filter-price {
  display: grid;
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.catalog-filter-price-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 34px;
}

.catalog-filter-price-range {
  grid-column: 1 / -1;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:focus {
  order: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 50px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  width: 288px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;

}

.field-price {
  width: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  appearance: textfield;
  padding-left: 14px;
}


.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 60px;
  border: none;
  cursor: pointer;
  width: 130px;
}

.button-submit {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  display: inline-block;
  padding: 14px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
}

.button-submit:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background: #E5E5E5;
}

.button-reset {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 0;
  border: none;
  cursor: pointer;
}

/*Блок поиска*/

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 72px;
  padding-right: 71px;
  padding-bottom: 56px;
  padding-top: 20px;
  align-items: center;
}

.search-result {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  background: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  margin: 0;
  background-color: #ffffff;
}

.select-control:hover {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:active {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.type-of-view {
  position: relative;
  display: flex;
  list-style-type: none;
  gap: 8px;
  min-width: 48px;
  margin: 0;
  padding: 0;
}

.type-of-view-link.type-of-view-link-active {
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.type-of-view-link:hover {
  border-color: #000000;
}

.type-of-view-link:focus {
  border-color: #68A2CA;
}

.type-of-view-link:active {
  border-color: #000000;
}

.type-of-view-link {
  display: inline-block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.type-of-view-slides {
  padding: 17px;
}

.type-of-view-table {
  padding: 17px;
}

.type-of-view-list {
  padding: 17px;
}

/*Карточки продуктов*/

.sedona-product-list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 18px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 66px;
  box-sizing: border-box;
  padding: 20px;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
  padding: 20px;
  margin-right: 18px;
}

.product-card-image-link {
  grid-column: 1 / -1;
}

.product-card-title-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.housing-hotel {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-about {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
}

.product-about:hover {
  background: #615048;
}

.product-about:focus {
  background: #615048;
}

.product-about:hover {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.product-about:disabled {
  background: #E5E5E5;
}

.favorites-button {
  font-family: "PT Sans";
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 14px 8px 15px;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}

.favorites-button:hover {
  background: #68A2CA;
}

.favorites-button:focus {
  background: #68A2CA;
}

.favorites-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button:disabled {
  background: #E5E5E5;
}

.favorites-button-selected {
  background-color: #7db54f;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.favorites-button-selected:hover {
  background: #6C9E42;
}

.favorites-button-selected:focus {
  background: #6C9E42;
}

.favorites-button-selected:hover {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button-selected:disabled {
  background: #E5E5E5;
}

.rating {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  background: #F2F2F2;
  border-radius: 4px;
}

.rating-stars {
  display: inline-block;
  width: 140px;
  padding: 10px 10px 10px;
  padding-left: 0;
}

.rating-stars-four {
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: repeat-x;
  background-position: left;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 72px;
}

.rating-stars-three {
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: repeat-x;
  background-position: left;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 54px;
}

.rating-stars-two {
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: repeat-x;
  background-position: left;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 36px;
}

/*Пагинация*/

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 4px;
  padding-right: 71px;
  padding-left: 73px;
  margin-top: 30px;
  position: relative;
}

.pagination-container.divider-catalog::before {
  content: "";
  display: inline-block;
  width: 1055px;
  margin: 0 auto;
  border: 1px solid #E6E6E6;
  position: absolute;
  left: 73px;
  right: 73px;
  bottom: 94px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  padding: 11px 12px;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
}

.pagination-current {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-current:focus {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-current:active {
  background-color: #f2f2f2;
  color: #000000;
}

.search-results {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.results-on-page {
  color: #333333;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 160px;
  height: 49px;
}
